body{
    height: 1000px;
    width: 1000px;
    align-items: center;
}
.container{
    height: 700px;
    width: 1000px;
    background-color: orange;
    display: block;
}

.block{
    height: 500px;
    width: 700px;
    float: grid;
    color: salmon;
}