/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container {
    width: 800px; /* Ajustar el tamaño de la tarjeta */
    height: 300px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.user-card {
    overflow: hidden;
}

.card-header {
    background-color: #00a4b7; /* Fondo azul para el header */
    height: 100px; /* Altura del encabezado */
}

.card-body {
    padding: 20px;
    text-align: center;
}

.avatar-m {
    width: 80px; /* Ajustar tamaño del avatar */
    height: 80px;
    border-radius: 50%;
    margin: 50px auto 50px auto; /* Centrando el avatar y ajustando su posición */
    border: 4px solid white;
}

.card-body h1 {
    font-size: 24px;
    margin: 10px 0px;
    color: #333;
}

.card-body p {
    color: #777;
}

.icon-s {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
