body{
    padding: 15px;
    background-color: gray;
}


container{
    height: 1000px;
    width: 1000px;
    background-color: grey;
    padding: 20px;
}
.nav{
    width: 1450px;
    padding: 200px;
    background-color: green;
}

h1{
    height: 350px;
    width: 250px;
    background-color: blue;
}

container1{
    height: 550;
    width: 550;
    background-color: yellow;
    padding: 2000px;
}

h3{
    height: 350;
    width: 350;
    background-color: yellow;

}
